In [1]:
import pandas as pd

checkpoints_eoc = pd.read_csv('Random Sample of Data Files_03_04/checkpoints_eoc.csv', index_col = 'student_id')

checkpoints_pulse = pd.read_csv('Random Sample of Data Files_03_04/checkpoints_pulse.csv', index_col = 'student_id')

In [3]:
# Getting the head of the pulse data frame
checkpoints_pulse.head()

,book,release,institution_id,class_id,chapter_number,construct,response
student_id,,,,,,,
953768c5-32fa-4190-8fee-1da82d8710bc,College / Statistics and Data Science (ABC),v5.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,10,Cost,NaN
953768c5-32fa-4190-8fee-1da82d8710bc,College / Statistics and Data Science (ABC),v5.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,11,Cost,NaN
953768c5-32fa-4190-8fee-1da82d8710bc,College / Statistics and Data Science (ABC),v5.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,12,Cost,NaN
953768c5-32fa-4190-8fee-1da82d8710bc,College / Statistics and Data Science (ABC),v5.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,2,Cost,2.0
953768c5-32fa-4190-8fee-1da82d8710bc,College / Statistics and Data Science (ABC),v5.0,04157183-8665-400a-925d-3bbb70ffe45e,afcb6b4e-a0c0-46ce-b38c-c96329c91471,3,Cost,2.0

In [4]:
# getting the head of the eoc data frame
checkpoints_eoc.head()

,class_id,chapter_number,book,EOC,n_possible,n_correct,n_attempt
student_id,,,,,,,
001824fb-a2fd-431d-aef6-7a1250d97a62,074123e7-cd90-4500-86fe-286aaa733bf5,1,College / Statistics and Data Science (ABC),0.921053,38,35,40
001824fb-a2fd-431d-aef6-7a1250d97a62,074123e7-cd90-4500-86fe-286aaa733bf5,2,College / Statistics and Data Science (ABC),0.839080,87,73,127
001824fb-a2fd-431d-aef6-7a1250d97a62,074123e7-cd90-4500-86fe-286aaa733bf5,3,College / Statistics and Data Science (ABC),0.769231,104,80,145
001824fb-a2fd-431d-aef6-7a1250d97a62,074123e7-cd90-4500-86fe-286aaa733bf5,4,College / Statistics and Data Science (ABC),0.743590,118,87,217
001824fb-a2fd-431d-aef6-7a1250d97a62,074123e7-cd90-4500-86fe-286aaa733bf5,5,College / Statistics and Data Science (ABC),0.777778,63,49,90

In [36]:
checkpoints = pd.merge(checkpoints_eoc, checkpoints_pulse, on = ['student_id', 'class_id', 'book', 'chapter_number'], how = 'inner')

In [38]:
checkpoints.head()

,class_id,chapter_number,book,EOC,n_possible,n_correct,n_attempt,release,institution_id,construct,response
student_id,,,,,,,,,,,
001824fb-a2fd-431d-aef6-7a1250d97a62,074123e7-cd90-4500-86fe-286aaa733bf5,2,College / Statistics and Data Science (ABC),0.839080,87,73,127,v5.0-exp1,292cff87-3c74-4e94-8622-233afb0427dd,Cost,2.0
001824fb-a2fd-431d-aef6-7a1250d97a62,074123e7-cd90-4500-86fe-286aaa733bf5,2,College / Statistics and Data Science (ABC),0.839080,87,73,127,v5.0-exp1,292cff87-3c74-4e94-8622-233afb0427dd,Expectancy,5.0
001824fb-a2fd-431d-aef6-7a1250d97a62,074123e7-cd90-4500-86fe-286aaa733bf5,2,College / Statistics and Data Science (ABC),0.839080,87,73,127,v5.0-exp1,292cff87-3c74-4e94-8622-233afb0427dd,Intrinsic Value,5.0
001824fb-a2fd-431d-aef6-7a1250d97a62,074123e7-cd90-4500-86fe-286aaa733bf5,2,College / Statistics and Data Science (ABC),0.839080,87,73,127,v5.0-exp1,292cff87-3c74-4e94-8622-233afb0427dd,Utility Value,4.0
001824fb-a2fd-431d-aef6-7a1250d97a62,074123e7-cd90-4500-86fe-286aaa733bf5,3,College / Statistics and Data Science (ABC),0.769231,104,80,145,v5.0-exp1,292cff87-3c74-4e94-8622-233afb0427dd,Cost,4.0

In [26]:
checkpoints.head()

,class_id_x,chapter_number_x,book_x,EOC,n_possible,n_correct,n_attempt,book_y,release,institution_id,class_id_y,chapter_number_y,construct,response
student_id,,,,,,,,,,,,,,
001824fb-a2fd-431d-aef6-7a1250d97a62,074123e7-cd90-4500-86fe-286aaa733bf5,1,College / Statistics and Data Science (ABC),0.921053,38,35,40,College / Statistics and Data Science (ABC),v5.0-exp1,292cff87-3c74-4e94-8622-233afb0427dd,074123e7-cd90-4500-86fe-286aaa733bf5,10,Cost,5.0
001824fb-a2fd-431d-aef6-7a1250d97a62,074123e7-cd90-4500-86fe-286aaa733bf5,1,College / Statistics and Data Science (ABC),0.921053,38,35,40,College / Statistics and Data Science (ABC),v5.0-exp1,292cff87-3c74-4e94-8622-233afb0427dd,074123e7-cd90-4500-86fe-286aaa733bf5,11,Cost,5.0
001824fb-a2fd-431d-aef6-7a1250d97a62,074123e7-cd90-4500-86fe-286aaa733bf5,1,College / Statistics and Data Science (ABC),0.921053,38,35,40,College / Statistics and Data Science (ABC),v5.0-exp1,292cff87-3c74-4e94-8622-233afb0427dd,074123e7-cd90-4500-86fe-286aaa733bf5,12,Cost,5.0
001824fb-a2fd-431d-aef6-7a1250d97a62,074123e7-cd90-4500-86fe-286aaa733bf5,1,College / Statistics and Data Science (ABC),0.921053,38,35,40,College / Statistics and Data Science (ABC),v5.0-exp1,292cff87-3c74-4e94-8622-233afb0427dd,074123e7-cd90-4500-86fe-286aaa733bf5,2,Cost,2.0
001824fb-a2fd-431d-aef6-7a1250d97a62,074123e7-cd90-4500-86fe-286aaa733bf5,1,College / Statistics and Data Science (ABC),0.921053,38,35,40,College / Statistics and Data Science (ABC),v5.0-exp1,292cff87-3c74-4e94-8622-233afb0427dd,074123e7-cd90-4500-86fe-286aaa733bf5,3,Cost,4.0

In [35]:
checkpoints.construct == 'Expectancy'

student_id
001824fb-a2fd-431d-aef6-7a1250d97a62    False
001824fb-a2fd-431d-aef6-7a1250d97a62    False
001824fb-a2fd-431d-aef6-7a1250d97a62    False
001824fb-a2fd-431d-aef6-7a1250d97a62    False
001824fb-a2fd-431d-aef6-7a1250d97a62    False
                                        ...
fef083e8-7167-4f42-82d5-d2e893aa408a    False
fef083e8-7167-4f42-82d5-d2e893aa408a    False
fef083e8-7167-4f42-82d5-d2e893aa408a    False
fef083e8-7167-4f42-82d5-d2e893aa408a     True
fef083e8-7167-4f42-82d5-d2e893aa408a    False
Name: construct, Length: 124080, dtype: bool